

<div class="grid" id="final-product-search">

</div> 


  <div class="allProducts_container" id="stapla">

  <!--   <div class="bio">
      <p>The OBJECTS Of My Affection: a curated selected of some of the worlds most beautiful objects.</p>
    </div> -->

     <% Product.find([306, 307, 308, 309, 310, 311]).each_with_index do |product, index| %>

     <div style="margin-left: 233.5px; margin-top: 129.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>" data-pile="1" >
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
        
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
      
    <% end %>

     <% Product.find([312, 313, 314, 315, 316, 317]).each_with_index do |product, index| %>
     <div style="margin-left: 700.5px; margin-top: 129.5px; display: block" class="indivi_product pile-me <%= @classes[index] %>"data-pile="2">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
          <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>

    <% end %>

     <% Product.find([318, 319, 320, 321, 322, 323]).each_with_index do |product, index| %>
     <div style="margin-left: 1149.5px; margin-top: 129.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="3">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>


    <% Product.find([324, 325, 326, 327, 328, 329]).each_with_index do |product, index| %>
     <div style="margin-left: 233.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="4">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

    <% Product.find([330, 331, 332, 333, 334, 335]).each_with_index do |product, index| %>
     <div style="margin-left: 700.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="5">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

    <% Product.find([336, 337, 338, 339, 340, 341]).each_with_index do |product, index| %>
     <div style="margin-left: 1149.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="6">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price, unit: '£' %>
        <% unless index == 5  %>
          <button type="submit" class="btn btn-info addbasket">BUY</button> 
        <% end %>
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>
  </div>


