

<div class="grid" id="final-product-search">

</div> 


  <div class="allProducts_container" id="stapla">

    <div class="bio">
      <p>The OBJECTS Of My Affection: a curate selected of some of the worlds most beautiful objects.</p>
    </div>

     <% Product.find([172, 173, 174, 175, 176, 177]).each_with_index do |product, index| %>
     <div style="margin-left: 233.5px; margin-top: 99.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>" data-pile="1" >
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
      
    <% end %>

     <% Product.find([178, 179, 180, 181, 182]).each_with_index do |product, index| %>
     <div style="margin-left: 700.5px; margin-top: 99.5px; display: block" class="indivi_product pile-me <%= @classes[index] %>"data-pile="2">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
          <button type="submit" class="btn btn-info addbasket">BUY</button>
          <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>

    <% end %>

     <% Product.find([183, 184, 185, 186, 187]).each_with_index do |product, index| %>
     <div style="margin-left: 1149.5px; margin-top: 99.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="3">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

    <% Product.find([188, 189, 190, 191, 192]).each_with_index do |product, index| %>
     <div style="margin-left: 233.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="4">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

    <% Product.find([193, 194, 195, 196, 197]).each_with_index do |product, index| %>
     <div style="margin-left: 700.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="5">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

    <% Product.find([198, 199, 200, 201, 202]).each_with_index do |product, index| %>
     <div style="margin-left: 1149.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="6">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>
  </div>


