<!-- <h1>LOTS OF BEAUTIFUL THINGS</h1> -->


  <div class="allProducts_container" id="stapla">
     <% Product.find([30, 31, 32, 33, 34]).each_with_index do |product, index| %>
     <div style="margin-left: 313.5px; margin-top: 499.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>" data-pile="1" >
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

     <% Product.find([35, 36, 37, 38, 39]).each_with_index do |product, index| %>
     <div style="margin-left: 700.5px; margin-top: 522.5px; display: block" class="indivi_product pile-me <%= @classes[index] %>"data-pile="2">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>

     <% Product.find([40, 41, 42, 43, 44]).each_with_index do |product, index| %>
     <div style="margin-left: 1000.5px; margin-top: 523.5px; display: block;" class="indivi_product pile-me <%= @classes[index] %>"data-pile="3">
       <%= image_tag product.img %>
        <%= product.name %>
        <%= number_to_currency product.price %>GBP
        <%= render :partial => 'product_info', :locals => {product:product} %>
      </div>
    <% end %>
  </div>


